{% extends 'base.html' %}
{% block content %}
  <a href="{% url 'emails:create_email' %}">Register Email</a>
  <br>
  <h1>Email List</h1>
  {% for email in object_list %}
    {{ email.name }}<br>
    {{ email.mail }}
  {% empty %}
    <li>No emails yet.</li>
  {% endfor %}

  {% if object_list %}
    <div class="pagination">
      <span class="step-links">
        {% if object_list.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ object_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
          Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
          <a href="?page={{ object_list.next_page_number }}">next</a>
          <a href="?page={{ object_list.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
      </span>
    </div>
  {% endif %}
{% endblock %}