{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
  <a href="{% url 'emails:list_email' %}" class="button">back</a>
  <form method="post">{% csrf_token %}
    {{ form.as_p }}
    <a class="addlink" href="#" onclick="addToHtml()">Append</a>
    <button type="submit" class="button">Register</button>
  </form>
{% endblock %}
{% block extraJs %}
<script>
  URL_GET = "{% url 'emails:get_fields' %}"
  
  document.addEventListener("DOMContentLoaded", function() {
    loadFields(document.getElementById('id_models').value)
    $('#id_mail').trumbowyg();
  });
</script>
{% endblock %}